.background{
    background-image: url("https://th.bing.com/th/id/OIP.g9ixR_FAXezF8k6ZfrhsXQHaFj?w=227&h=180&c=7&r=0&o=5&pid=1.7");
    background-size: cover; 
    display: flex;
}
.first{
    text-align: center;
    margin-right: 500px;
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment:hover{
    background-color: darkred;
    transform: scale(1.5);
}
#save:hover{
    background-color: darkolivegreen;
    transform: scale(1.5);
}
#reset:hover{
    background-color: darkorange;
    transform: scale(1.5);
}
.inc{
    margin-left: 500px;
}
.incm{
    margin-left: 550px;
}
